# Paystack public key
VITE_PAYSTACK_PUBLIC_KEY=pk_test_your_paystack_public_key

# Backend API Endpoint
VITE_API_URL=http://localhost:33312/api

# Neon Auth
VITE_NEON_AUTH_URL=https://your-project-id.neonauth.aws.neon.tech/neondb/auth
